<section class="mb-5 mt-2">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form class="needs-validation" [formGroup]="passFrm" (ngSubmit)="ChangePassword()">

          <div class="form-outline mb-4 ">
            <label class="form-label" for="password">Current Password</label>
            <div class="input-group">
              <input #password formControlName="password" (keypress)="keyPressMinLength($event,50)"
                type="{{ p ? 'text':'password' }}" class="form-control" id="password" placeholder="Password" required />
              <span class="input-group-text" (click)="togglePassword('p')">
                <i [ngClass]="p ? 'fa fa-eye':'fa fa-eye-slash'" id="togglePassword"></i>
              </span>
            </div>

            <div class="form-control-feedback"
              *ngIf="passFrm.get('password')?.errors && (passFrm.get('password')?.dirty || passFrm.get('password')?.touched)">
              <p *ngIf="passFrm?.get('password')?.errors?.['required']" class="text-danger">password is required</p>
              <p *ngIf="passFrm?.get('password')?.errors?.['minlength']" class="text-danger">password must have length
                more than 7</p>
            </div>
          </div>



          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="npassword">New Password</label>
            <div class="input-group">
              <input #npassword formControlName="npassword" (keypress)="keyPressMinLength($event,50)"
                type="{{ np ? 'text':'password' }}" id="npassword" placeholder="New Password" required
                class="form-control form-control-lg" />
              <span class="input-group-text" (click)="togglePassword('np')">
                <i [ngClass]="np ? 'fa fa-eye':'fa fa-eye-slash'" id="togglePassword"></i>
              </span>
            </div>
            <div class="form-control-feedback"
              *ngIf="passFrm.get('npassword')?.errors && (passFrm.get('npassword')?.dirty || passFrm.get('npassword')?.touched)">
              <p *ngIf="passFrm?.get('npassword')?.errors?.['required']" class="text-danger">password is required</p>
              <p *ngIf="passFrm?.get('npassword')?.errors?.['minlength']" class="text-danger">password must have
                length more than 7</p>
            </div>
          </div>



          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="cpassword">Confirm Password</label>
            <div class="input-group">
              <input #cpassword formControlName="cpassword" (keyup)="validatePassword()"
                (keypress)="keyPressMinLength($event,50)" type="{{ cp ? 'text':'password' }}" id="cpassword"
                placeholder="Confirm Password" required class="form-control form-control-lg" />

              <span class="input-group-text" (click)="togglePassword('cp')">
                <i [ngClass]="cp? 'fa fa-eye':'fa fa-eye-slash'" id="togglePassword"></i>
              </span>
            </div>

            <div class="form-control-feedback">

              <span class="form-control-feedback"
                *ngIf="passFrm.get('cpassword')?.touched && passFrm.get('cpassword')?.invalid" style="color: red;">☒
                Use same password</span>
              <span class="form-control-feedback"
                *ngIf="passFrm.get('cpassword')?.touched && passFrm.get('cpassword')?.valid" style="color: green;">🗹
                Password Matched</span>
            </div>
          </div>



          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Change Password</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" [ngClass]="displayAlert">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> {{ FlagError ? 'Alert' : 'Done' }}</h4>
        </div>
        <div class="modal-body">
          {{ message }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="closePopup()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>