<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto mt-4">


            <div class="d-flex">
                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/Mohamed.webp">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h1>Mohamed Shehata</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/mohamed-shehata99/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>



            </div>

            <hr>

            <div class="d-flex p-2">
                <div class="flex-grow-1 me-3">
                    <h1>&nbsp;&nbsp;&nbsp;&nbsp;Hossam Osman</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/hossam-osman-54220819a/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>

                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/Hossam.jpeg">
                </div>

            </div>



            <hr>

            <div class="d-flex">
                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/Manar.jpeg">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h1>Manar Abdelrahem</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/manar-abdelraheem-ali-8a7ba018b/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>
            </div>

            <hr>

            <div class="d-flex p-2">
                <div class="flex-grow-1 me-3">
                    <h1>&nbsp;&nbsp;&nbsp;&nbsp;Fam Emad</h1>
                    <div class="text-center">
                        <h3>Junior .NET <br /> Angular Full Stack Developer <br /> ITI Graduate</h3>
                        <h3><a href="https://www.linkedin.com/in/fam-emad-12856020b/" target="_blank"><i
                                    class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a></h3>
                    </div>
                </div>

                <div class="flex-shrink-0 image-container">
                    <img src="../../../assets/aboutUs/Fam.jpeg">
                </div>

            </div>


            <hr>


        </div>
    </div>
</div>