y<section class="pb-4">
  <div class="bg-white border rounded-5">


    <!-- Section: Design Block -->
    <section class="text-center">
      <!-- Background image -->
      <div class="p-5 bg-image" style="
                  background-image: url('https://img.freepik.com/free-photo/black-concrete-textured-background_53876-145151.jpg?size=626&ext=jpg&ga=GA1.2.483372172.1688792367&semt=ais');
                  height: 300px;
                  "></div>
      <!-- Background image -->

      <div class="card mx-4 mx-md-5 shadow-5-strong" style="
                  margin-top: -100px;
                  background: hsla(0, 0%, 100%, 0.8);
                  backdrop-filter: blur(30px);
                  ">
        <div class="card-body py-5 px-md-5">

          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h2 class=" mb-5" style="color: rgb(93, 93, 93); font-size: 34px;">Update Information</h2>
              <form *ngIf="customer" class="row g-3 needs-validation" [formGroup]="validFrm" (ngSubmit)="
              UpdateCustomer(
                fname.value,
                mname.value,
                lname.value,
                phonenumber.value,
                email.value,
                city.value,
                country.value,
                street.value,
                password.value
              )
            ">


                <!-- first name -->

                <div class="row">
                  <div class="col-md-4 mb-4">
                    <div class="form-floating">

                      <input #fname [(ngModel)]="customer.firstName" formControlName="fname"
                        (keypress)="keyPressMinLength($event, 15)" type="text" class="form-control" id="fname"
                        placeholder="First Name" required>
                      <label for="fname" class="form-label">First name</label>
                      <div class="form-control-feedback"
                        *ngIf="validFrm.get('fname')?.errors && (validFrm.get('fname')?.dirty || validFrm.get('fname')?.touched)">
                        <p *ngIf="
                        validFrm.get('fname')?.errors &&
                        (validFrm.get('fname')?.dirty ||
                          validFrm.get('fname')?.touched)
                      " class="text-danger text-start pt-2">First name is
                          required
                        </p>
                        <p *ngIf="validFrm?.get('fname')?.errors?.['minlength']" class="text-danger text-start pt-2">
                          First name must
                          be more
                          than 3 letters</p>
                      </div>
                    </div>
                  </div>


                  <!-- middle name -->
                  <div class="col-md-4 mb-4">
                    <div class="form-floating">
                      <input #mname [(ngModel)]="customer.midName" formControlName="mname"
                        (keypress)="keyPressMinLength($event, 15)" type="text" class="form-control" id="mname"
                        placeholder="Middle Name" required>
                      <label for="mname" class="form-label">Middle name</label>

                    </div>
                  </div>



                  <!-- lastname -->
                  <div class="col-md-4 mb-4">
                    <div class="form-floating">
                      <input #lname [(ngModel)]="customer.lastName" formControlName="lname"
                        (keypress)="keyPressMinLength($event, 15)" type="text" class="form-control" id="lname"
                        placeholder="Last name" required>
                      <label for="lname" class="form-label">Last name</label>

                      <div class="form-control-feedback" *ngIf="
                      validFrm.get('lname')?.errors &&
                      (validFrm.get('lname')?.dirty ||
                        validFrm.get('lname')?.touched)
                    ">
                        <p *ngIf="validFrm?.get('lname')?.errors?.['required']" class="text-danger text-start pt-2">Last
                          name is
                          required</p>
                        <p *ngIf="validFrm?.get('lname')?.errors?.['minlength']" class="text-danger text-start pt-2">
                          Last name must be
                          more than</p>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Phone Number -->
                <div class="form-floating">
                  <input #phonenumber [(ngModel)]="customer.phoneNumber" formControlName="phonenumber"
                    (keypress)="keyPressNumbers($event, 25)" type="text" class="form-control" id="phonenumber"
                    placeholder="Phone number" required>
                  <label for="phonenumber" class="form-label">Phone number</label>

                  <div class="form-control-feedback"
                    *ngIf="validFrm.get('phonenumber')?.errors && (validFrm.get('phonenumber')?.dirty || validFrm.get('phonenumber')?.touched)">
                    <p *ngIf="validFrm?.get('phonenumber')?.errors?.['required']" class="text-danger text-start pt-2">
                      Phone number is
                      required</p>
                    <p *ngIf="validFrm?.get('phonenumber')?.errors?.['minlength']" class="text-danger text-start pt-2">
                      Phone number
                      must
                      be
                      more than 8 Numbers</p>
                  </div>

                </div>

                <!-- country -->
                <div class="form-outline mb-4 text-start">
                  <label for="country" class="form-label ">Country</label>
                  <select #country [(ngModel)]="customer.country" formControlName="country" class="form-select"
                    id="country" placeholder="Country" required>
                    <option *ngFor="let country of Countries">
                      {{ country }}
                    </option>
                  </select>
                  <div class="form-control-feedback" *ngIf="
                                  validFrm.get('country')?.errors &&
                                  (validFrm.get('country')?.dirty ||
                                    validFrm.get('country')?.touched)
                                ">
                    <p *ngIf="validFrm?.get('country')?.errors?.['required']" class="text-danger text-start pt-2">
                      Country is required
                    </p>
                  </div>
                </div>

                <!-- city -->
                <div class="form-floating mb-4">
                  <input #city [(ngModel)]="customer.city" formControlName="city"
                    (keypress)="keyPressMinLength($event, 15)" type="text" class="form-control" id="city"
                    placeholder="City" required>
                  <label for="city" class="form-label">City</label>

                  <div class="form-control-feedback">
                    <div class="form-control-feedback" *ngIf="
                    validFrm.get('city')?.errors &&
                    (validFrm.get('city')?.dirty || validFrm.get('city')?.touched)
                  ">
                      <p *ngIf="validFrm?.get('city')?.errors?.['required']" class="text-danger text-start pt-2">City is
                        required</p>
                      <p *ngIf="validFrm?.get('city')?.errors?.['minlength']" class="text-danger text-start pt-2">City
                        must be more
                        than 3
                        letters</p>
                    </div>
                  </div>
                </div>


                <!-- street -->
                <div class="form-floating mb-4">
                  <input #street [(ngModel)]="customer.street" formControlName="street"
                    (keypress)="keyPressMinLength($event, 20)" type="text" class="form-control" id="street"
                    placeholder="Street" required />
                  <label for="street" class="form-label">Street</label>

                  <div class="form-control-feedback" *ngIf="
                  validFrm.get('street')?.errors &&
                  (validFrm.get('street')?.dirty ||
                    validFrm.get('street')?.touched)
                ">
                    <div class="form-control-feedback"
                      *ngIf="validFrm.get('street')?.errors && (validFrm.get('street')?.dirty || validFrm.get('street')?.touched)">
                      <p *ngIf="validFrm?.get('street')?.errors?.['required']" class="text-danger text-start pt-2">
                        Street is required
                      </p>
                      <p *ngIf="validFrm?.get('street')?.errors?.['minlength']" class="text-danger text-start pt-2">
                        Street must be
                        more than
                        3 letters</p>
                    </div>
                  </div>
                </div>


                <!-- Email input -->
                <div class="form-floating">
                  <input #email [(ngModel)]="customer.email" formControlName="email"
                    (keypress)="keyPressMinLength($event, 35)" type="email" class="form-control" id="email"
                    placeholder="Email" required />
                  <label for="email" class="form-label">Email</label>

                  <div class="form-control-feedback" *ngIf="
                  validFrm.get('email')?.errors &&
                  (validFrm.get('email')?.dirty ||
                  validFrm.get('email')?.touched)
                  ">
                    <p *ngIf="validFrm?.get('email')?.errors?.['required']" class="text-danger text-start pt-2">Email is
                      required</p>
                    <p *ngIf="validFrm?.get('email')?.errors?.['pattern']" class="text-danger text-start pt-2">Invalid
                      Email</p>
                  </div>
                </div>


                <!-- Password input -->
                <div class="form-outline mb-4">
                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="form-floating">
                        <input #password formControlName="password" (keypress)="keyPressMinLength($event, 50)"
                          type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password"
                          placeholder="Password" required />
                        <label for="password" class="form-label">Password</label>
                      </div>
                      <span class="input-group-text" (click)="togglePassword()">
                        <i [ngClass]="showPassword ? 'fa fa-eye':'fa fa-eye-slash'" id="togglePassword"></i>
                      </span>
                    </div>
                    <div cclass="form-control-feedback" *ngIf="
                    validFrm.get('password')?.errors &&
                    (validFrm.get('password')?.dirty ||
                      validFrm.get('password')?.touched)
                  ">
                      <p *ngIf="validFrm?.get('password')?.errors?.['required']" class="text-danger text-start pt-2">
                        password is
                        required</p>
                      <p *ngIf="validFrm?.get('password')?.errors?.['minlength']" class="text-danger text-start pt-2">
                        password must
                        have length more than 7</p>
                    </div>
                  </div>
                </div>





                <!-- Hold -->
                <button class="btn btn-primary btn-block mb-4"
                  style="background-color: rgb(38, 38, 38); color: white; border: none; font-size: 22px; font-weight: 400;  
                  text-align: center;  box-shadow: 0 2px 4px rgb(151, 151, 151); transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;"
                  onmouseover="this.style.backgroundColor='rgb(151, 151, 151)';"
                  onmouseout="this.style.backgroundColor=' black';" type="submit">Update</button>
              </form>


            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>


<div class="modal" tabindex="-1" role="dialog" [ngClass]="displayAlert">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ FlagError ? "Alert" : "Done" }}</h4>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>